<p>
    Hi {{ user.username }},
    <br />
    <br />
    A request has been received to reset the password for your {{ project.title }} account:
    <br />
    Click <a href="{{ url_for('auth.reset_password', token=token, _external=True) }}">here</a> to reset your password.
    <br />
    <br />
    Alternatively, you can paste the following link in your browser's address bar:
    <br />
    {{ url_for('auth.reset_password', token=token, _external=True) }}
    <br />
    <br />
    If you have not requested a password reset, you can simply ignore this message.
    <br />
    <br />
    Regards,
    <br />
    {{ project.title }}
</p>
